html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#scoreboard {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

#scoreboard h2 {
  font-family: Arial, sans-serif;
  color: #333;
}

#scoreboard p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
}

#pastGames {
  margin-top: 20px;
}

#pastGames ul {
  list-style-type: none;
  padding: 0;
}

#pastGames li {
  font-size: 16px;
  margin-bottom: 10px;
}
